#login-screen {

  .user-list {
    li {
      float: left;
      box-sizing: border-box;

      width: 33%;
      padding: $small-space;
    }

    img {
      width: 100%; height: 100%;
      border-radius: 100%;
    }
  }

}