#stats-screen {
  h2 {
    padding: $large-space;
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
  }

  .chart {
    width: 100%;
    @include flex-column;

    svg text { fill: white !important; }
  }

  .busted-stories {
    padding: $large-space;
    color: white;
    font-size: 24px;
    text-align: center;
    span {
      font-weight: 600;
    }
  }
}