section.aspect {
  @include flex-row;
  padding: $small-space $large-space;

  color: white;

  h2 {
    font-size: 16px;
    font-weight: 400;
    @include flex-grow(1);
  }

  .unlocker {
    width: 30px; height: 30px;
    opacity: 0.4;

    img {
      width: 100%; height: 100%;
      border-radius: 50%;
    }
  }

  &:first-child {
    @include align-items(flex-start);
    padding: $large-space;

    min-height: 80px;
    h2 {
      font-size: 24px;
      font-weight: 600;
    }
  }

}

section.unlock {
  position: relative;

  .background {
    position: absolute;
    overflow: hidden;

    top: $large-space;
    bottom: 0;
    left: $large-space;
    right: $large-space;

    padding: $large-space;
    padding-top: 3 * $large-space;
    background: white;
    pointer-events: none;

    box-shadow: 0 0 2px rgba(black, 0.1);

    @extend .html;
    font-size: 12px;

    h1, h2, p {
      filter: blur(3px);
      opacity: 0.4;
    }
  }

  .content {
    position: relative;
    padding: $large-space + $small-space;
    text-align: center;

    > .label {
      display: block;
      font-size: 12px;
    }
    .buttons {
      padding: $large-space;
      @include flex-row;
      @include justify-content(center);
    }
    button:not(:last-child) {
      margin-right: $small-space;
    }
  }

}

@each $aspect, $color in $colors {
  .aspect-#{$aspect} {
    background-color: $color;
  }
}