<div class="locked-story">

  <section class="aspect aspect-{{story.unlocked_aspects[0].aspect}}">
    <header>
      <button class="back" ui-sref="stories">
      </button>

      <figure class="aspect-icon">
        <img ng-hide="story.unlocked_aspects[0].image_url" ng-src="{{ aspectIcon(story.unlocked_aspects[0].aspect) }}" />
      </figure>
    </header>

    <div class="aspect-picture" ng-show="story.unlocked_aspects[0].image_url">
      <img ng-src="{{ story.unlocked_aspects[0].image_url }}" />
    </div>
    <h2 ng-show="story.unlocked_aspects[0].text">{{ story.unlocked_aspects[0].text }}</h2>
  </section>

  <section ng-repeat="aspect in story.unlocked_aspects.slice(1)" class="aspect aspect-{{aspect.aspect}}">

    <div class="content">
      <div class="aspect-picture" ng-show="aspect.image_url">
        <img ng-src="{{ aspect.image_url }}" />
      </div>
      <h2 ng-show="aspect.text">{{ aspect.text }}</h2>

      <div class="badge" ng-show="aspect.badge" title="{{ badgeCaption(aspect.badge) }}">
        <img ng-src="{{ badgeImage(aspect.badge) }}" />
      </div>

      <figure class="unlocker" ng-show="aspect.unlocker" title="Unlocked by {{ aspect.unlocker.name }}">
        <img ng-src="{{ aspect.unlocker.avatar }}" alt="{{ aspect.unlocker.name }}"/>
      </figure>
    </div>

    <footer class="badges" ng-show="aspect.unlocked_by_me && !aspect.badge">
      <div class="badge" ng-repeat="badge in badges">
        <button class="badge" ng-click="addBadge(aspect, badge)" ng-class="{'loading': badge.loading}">
          <img ng-src="{{ badgeImage(badge.name) }}" />
        </button>
        <div class="label">{{ badge.caption }}</div>
      </div>
    </footer>

  </section>

  <section class="unlock">

    <div class="background">
      <h1>{{ story.unlocked_aspects[0].text }}</h1>

      <p>This is my country of Kazakhstan. It locate between Tajikistan, and Kyrgyzstan, and assholes Uzbekistan.</p>
      <p>Yagshemash! In US and A, if you want to marry a girl, you cannot just go to her father's house and swap her for 15 gallons of insecticide. Before American woman will allow you in her vazhïn, you must do something called dating.</p>
      <p>In Kazakhstan, the favorite hobbies are disco dancing, archery, rape, and table tennis.</p>
      <p>It is three in the morning, and I am in the nest of Jews. They have cleverly shifted their shapes; one of them has taken the form of a little old woman. You can barely see her horns! She has tried to poison me already. These rats are very clever.</p>
      <p>Sometime my sister, she show her vazhïn to my brother Bilo and say "You will never get this, you will never get it, la la la la la la!" He behind his cage. He cries, he cries and everybody laughs. She goes "You never get this." But one time he break cage and he "get this" and then we all laugh. High five!</p>
    </div>

    <div class="content">

      <span class="label" ng-hide="story.unlocked">
        Unlock this story:
      </span>

      <div class="buttons" ng-hide="story.unlocked">
        <button ng-repeat="aspect in story.locked_aspects" class="aspect aspect-{{aspect.aspect}}" ng-class="{loading: aspect.loading}" ng-click="unlock(aspect)">
          <div class="label">{{ aspect.aspect.toUpperCase() }}</div>
          <div class="spinner"></div>
        </button>
      </div>

      <div ng-show="story.unlocked">
        <button class="read-article" ng-click="setTemplate()">
          READ ARTICLE
        </button>
      </div>

    </div>

  </section>
</div>