body {
  font-family: Open Sans;
  font-weight: 300;

  background: #efefef;
}

.html {

  h1 {
    font-size: 2em;
    margin-bottom: 0.4em;
  }
  h2 {
    font-size: 1.4em;
    margin-bottom: 0.5em;
  }

  p {
    margin-bottom: 0.5em;
  }

}